extends tabbed-layout
block setup
	id = request.getParameter('id')
	tab = request.getParameter('tab', 'table');
	league = entityManager.findById(id)
block title
	span(ng-class="{'font-small': portable.active}")= league.name
block tabs
	+tab('table', 'Table')
block content
	if tab == 'table'
		table.table.table-striped.table-hover
			thead
				tr
					th 
					th Pl
					th W
					th D
					th L
					th F
					th A
					th Pts
			tbody
				for standing in league.standings
					club = standing.club
					tr.row-clickable(onclick="fetch('club?id=#{club.id}')")
						td= club.name
						td= standing.played
						td= standing.won
						td= standing.drawn
						td= standing.lost
						td= standing.scoreFor
						td= standing.scoreAgainst
						td= standing.points
	else
		h3 Not yet implemented
